{% extends 'base.html' %}
{% load static %}
{% block title %}{{course.title}}{% endblock title %}
{% load course_tags %}	
{% block content %}

 <!-- PAGE TITLE
    ================================================== -->
    <header class="py-8 py-md-10" style="background-image: none;">
        <div class="container text-center py-xl-2">
            <h1 class="display-4 fw-semi-bold mb-0">Shop Cart</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-scroll justify-content-center">
                    <li class="breadcrumb-item">
                        
                    </li>
                    
                </ol>
            </nav>
        </div>
        <!-- Img -->
        <img class="d-none img-fluid" src="...html" alt="...">
    </header>

<!-- BREADCRUMBS
    ================================================== -->
    <div class="container">
        <nav class="mb-5 mb-md-8 mt-2" aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-scroll">
                <li class="breadcrumb-item">
                    <a class="text-gray-800" href="#">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a class="text-gray-800" href="#">
                        {{course.category}} /
                </li>
                <li class="breadcrumb-item text-gray-800 active" aria-current="page">
                    {{course.title}}
                </li>
            </ol>
        </nav>
    </div>

    <!-- COURSE
    ================================================== -->
    <div class="container">
        <div class="row mb-8">
            <div class="col-lg-8 mb-6 mb-lg-0 position-relative">
                <h1 class="me-7 me-xl-14">
                    {{course.title}} 
                </h1>
                <p class="me-xl-13 mb-5">{{course.description|slice:350}} </p>

                <a href="#" class="badge badge-lg badge-rounded-circle badge-secondary font-size-base badge-float badge-float-inside top-0 text-white">
                    <i class="far fa-heart"></i>
                </a>

                <!-- COURSE META
                ================================================== -->
                <div class="d-md-flex align-items-center mb-5">
                    <div class="border rounded-circle d-inline-block mb-4 mb-md-0 me-md-6 me-lg-4 me-xl-6">
                        <div class="p-2">
                            <img src="{{course.product.author_profile.url}}" alt="..." class="rounded-circle" width="68" height="68">
                        </div>
                    </div>

                    <div class="mb-4 mb-md-0 me-md-8 me-lg-4 me-xl-8">
                        <h6 class="mb-0">Created by</h6>
                        <a href="#" class="font-size-sm text-gray-800">{{course.author.name}}</a>
                    </div>

                    <div class="mb-4 mb-md-0 me-md-8 me-lg-4 me-xl-8">
                        <h6 class="mb-0">Categories</h6>
                        <a href="#" class="font-size-sm text-gray-800">{{course.category}}</a>
                    </div>

                    <div class="mb-4 mb-md-0 me-md-6 me-lg-4 me-xl-6">
                        <h6 class="mb-0">Review</h6>
                        <div class="d-lg-flex align-items-center">
                            <div class="star-rating mb-2 mb-lg-0">
                                <div class="rating" style="width:100%;"></div>
                            </div>

                            <div class="font-size-sm ms-lg-3">
                                <span>9.45 (9.8k+ reviews)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="entry-content">
                    <div class="woocommerce">
                        <form class="woocommerce-cart-form table-responsive" action="#" method="post">
                            <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents">
                                <thead>
                                    <tr>
                                        <th  class="product-name">{{course.category}}</th>
                                        <th class="product-remove">&nbsp;</th>
                                        <th class="product-price">Price</th>
                                        <th class="product-quantity">Discount</th>
                                        <th class="product-subtotal"></th>
                                        <th class="product-remove">&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="woocommerce-cart-form__cart-item cart_item">
                                        <td  class="product-name" data-title="Product">
                                            <div class="d-flex align-items-center">
                                                
                                                <div class="ms-6">
                                                    <a href="shop-single.html">{{course.title}}</a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="product-subtotal" data-title="Total">
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">{{course.disk_space}}</span>GB Disk Space</span>
                                        </td> 

                                        <td class="product-subtotal" data-title="Total">
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">₹</span>{{course.price}}</span>
                                        </td> 

                                        <td class="product-subtotal" data-title="Total">
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">₹</span>{% discount_calculation course.price course.discount %}</span>
                                        </td> 
                                        <td class="product-subtotal" data-title="Total">
                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol"></span>{{course.discount}}% Off</span>
                                        </td> 

                                        
                                                                               
                                    </tr>
                                   
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>        
                
            </div>

            <div class="col-lg-4">
                <!-- SIDEBAR FILTER
                ================================================== -->
                <div class="d-block rounded border p-2 shadow mb-6">
                    <a href="#" class="d-block sk-thumbnail rounded mb-1" data-fancybox>
                        
                        <img class="rounded shadow-light-lg" src="{{course.qr_code.url}}" alt="...">
                    </a>
                    
                    <div class="pt-5 pb-4 px-5 px-lg-3 px-xl-5">
                        {% if course.price == 0 %}
                        <div class="d-flex align-items-center mb-2">
                            <ins class="h2 mb-0 text-primary" >Free</ins>
                            
                            <div class="badge badge-lg badge-purple text-white ms-auto fw-normal">{{course.discount}}% Off</div>
                        </div>
                        {% else %}
                        <div class="d-flex align-items-center mb-2">
                            <ins class="h2 mb-0">₹{% discount_calculation course.price course.discount %}</ins>
                            <del class="ms-3">₹{{course.price}}</del>
                            <div class="badge badge-lg badge-purple text-white ms-auto fw-normal">{{course.discount}}% Off</div>
                        </div>
                        {% endif %}
                        
                            <p>{{course.description|slice:350}} </p>
                        
                        {% if enroll_status is None %}
                        <a class="btn btn-primary btn-block mb-3" href="{% url "order_received" %}">ENROLL NOW</a>
                        {% else %}
                        <button class="btn btn-orange btn-block mb-6"  disabled>ALLREADY ENROLL</button>
                        {% endif %}
                        
                    </div>
                </div>

            </div>
        </div>

        <div class="container container-wd">
            <div class="bg-gradient-1 rounded-lg py-md-9 py-8 px-md-8 px-5">
                <div class="row align-items-center">
                    <div class="col-xl-7 mb-4 mb-xl-0 text-capitalize">
                        <h1 class="text-white mb-3">Started our domain</h1>
                    </div>

                    <div class="col-xl-5">
                        <form>
                            <div class="input-group d-block d-md-flex bg-white p-1 rounded-lg">
                                <input type="text" class="form-control w-100 w-md-auto form-control-sm rounded-lg border-0 placeholder-1" placeholder="Enter your doamin name" aria-label="Enter your email" aria-describedby="button-addon2">
                                <div class="input-group-append ms-0">
                                    <button class="btn btn-sm btn-dark w-100 w-md-auto btn-wide rounded-lg border-0" type="button" id="button-addon2">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </div>



{% endblock content %}